<div class="block">
  <h2 class="block-title">Recent</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <td
        class="first"
        mat-cell
        *matCellDef="let element"
        (click)="onDirClick(element.name)"
      >
        <div class="folder-name">
          <mat-icon>{{ getType(element.name) }} </mat-icon>
          {{ element.name.split("/").at(-1) }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="modified">
      <td mat-cell *matCellDef="let element">
        {{ element.modified | date : "dd MMM" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="extension">
      <td mat-cell *matCellDef="let element">{{ element.extension }}</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
